<h1>Liste des films</h1>

<table class="table">
    <tbody>
        <tr *ngFor="let film of listFilms">
            <td><button (click)="onClickFilm(film)">{{ film.title }} {{ film.release_date }}</button></td>
        </tr>
    </tbody>
</table>

<article *ngIf="detail">
    <h2>{{ detail.title }} --- Tome {{ detail.episode_id }}</h2>
    <p>{{ detail.opening_crawl }}</p>
    <p>Director: {{ detail.director }}</p>
    <p>Producer: {{ detail.producer }}</p>
    <p>Release Date: {{ detail.release_date }}</p>
</article>